ipython==7.16.1
jupyter==1.0.0
jupyter-client==6.1.12
jupyter-console==6.4.0
jupyter-core==4.7.1
jupyterlab-pygments==0.1.2
jupyterlab-widgets==1.0.0
matplotlib==3.3.1
notebook==6.3.0
numpy==1.19.1
pandas==0.23.0
Pillow==7.2.0
pudb==2019.2
pyarrow==1.0.1
scikit-learn==0.23.2
scikit-surprise==1.1.1
sklearn==0.0
surprise==0.1
